h2 {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 3.2em;
    text-align: center;
}
.status-message {
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}
.form-container {
    text-align: center;
}