<!DOCTYPE html>
<html>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="../static/index.css">
 <title>Sensei's WorkSpace</title>
  <body>
    <div class="container">
        <h2>WorkSpace Detection</h2>
        <div class="status-message">
            Camera is currently stopped
        </div>
        <div class="col-lg-offset-2 col-lg-8">
            <div class="form-container">
                <form class="form-inline" action="/stop" method="post" enctype="multipart/form-data">          
                    <input type="submit" class="btn btn-danger btn-md btn-block" value="Stop">
                </form>
                <form class="form-inline" action="/start" method="post" enctype="multipart/form-data">          
                    <input type="submit" class="btn btn-success btn-md btn-block" value="Start">
                </form>
            </div>
        </div>
    </div>
    </body>
</html>